@font-face {
    font-family: "Golden Decades";
    src: url("fonts/Fontspring-DEMO-goldendecades-regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Golden Decades";
    src: url("fonts/Fontspring-DEMO-goldendecades-smbold.otf") format("opentype");
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Golden Decades";
    src: url("fonts/Fontspring-DEMO-goldendecades-italic.otf") format("opentype");
    font-weight: normal;
    font-style: italic;
  }

  

html,body{
    margin:0;
    padding:0;
    font-family: "Golden Decades", sans-serif;
}

/* fff1e5*/
body{
    background-color: #000000;
    margin: 0px;
    font-family: "Golden Decades", sans-serif;
   
}

.epic{
    text-align: center;
    font-family: "Golden Decades", sans-serif;
    font-size: calc(79px + 2vw); /* This line ensures the text size adjusts responsively */
    text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.15);
    color: rgb(255, 255, 255);
}


figcaption{
    font-size: 50px;
    font-style: italic;
    margin-top: 100px;
    text-align: center;
    color:#ffffff;
    font-family: "Golden Decades", sans-serif;
    
}



